<%- include('partials/header') -%>
<div class="mt-10 flex justify-center">
    <a class="text-center p-4 mb-1 text-3xl text-indigo-600 font-bold border border-indigo-600 rounded-full" href="/profile">/></a>
</div>
<div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
 
</div>  
<%- include('partials/footer') -%>