<%- include('partials/header') -%>
    
    <main class="container flex flex-row h-screen">

      <div class="image-area basis-3/4">
          <img class="bg-cover" src="./imgs/amr-taha-mm8SfLRfF2Q-unsplash.jpg">
      </div>
  
      <div class="signup-area basis-1/4">
          <header class="container">
              <h1 class="text-center p-4 mb-10 text-4xl text-indigo-600 font-bold"><a href="/profile">/></h1>
              <div class="text-center p-4 mb-10">
                <h1 class="text-2xl font-bold"><a href="/profile">Developer Network</a></h1>
                <span class="text-sm italic">...find inspiration</span>
              </div>
            </header>

            <section class="">
              <div class="text-center">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="text-sm italic text-red-200"><%= el.msg %></div>
                    <% }) %>
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="text-sm italic text-red-200"><%= el.msg %></div>
                    <% }) %>
                <% } %>
              </div>
              <div class="forms flex justify-center">
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control border border-indigo-600 rounded-sm" id="userName" name="userName">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control border border-indigo-600 rounded-sm" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text text-sm italic ">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control border border-indigo-600 rounded-sm" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control border border-indigo-600 rounded-sm" id="confirmPassword" name="confirmPassword">
                      </div>
                    <button type="submit" class="border-solid border-2 bg-indigo-600 py-1 rounded-lg w-full">Signup</button>
                  </form>
              </div>
          </section>

          <div class="flex justify-center text-sm italic mt-5">
            <p>Go back to <a href="/login" class="text-indigo-600"> Login</a></p>
            
        </div>


  
          
  
  
  
          
      </div>
  </main>

<%- include('partials/footer') -%>